// Resource file for Monster8 Emulator
// Adds the application icon to the executable

#include <windows.h>

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "Icons\\Icon.ico"